
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    background-color: antiquewhite;
}
.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 0.7s;
    background-color: antiquewhite;
}
.cap{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    border: 2px dashed red;
    transition: all 0.5s;
    font-size: 1.3rem;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}
.cap img{
    margin-right: 10px;
    height: 100px;
    border-radius: 50%;
}

.color-sec{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}
.btn{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: aqua;
    transition: all 0.4s;
    font-weight: bolder;
    box-shadow: 0 0 20px black;
}
.landscape{
    display: none;
}

.btn:hover{
    background-color: tomato;
}

table{
    margin-top: 20px;
    transition: all 0.5s;
}

th{
    min-width: 180px;
    width: 100%;
}

th , td{
    padding: 3px;
}

tr p{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 5px;
    height: 85px;
    width: 100%;
    text-align: center;
    background-color: rgb(72, 196, 119);
    border: 4px dotted red;
    transition: all 0.5s;
    font-weight: bolder;
    font-size: 1.05rem;
    cursor: pointer;
    box-shadow: 0 0 20px black;
}

tr p:hover{
    border: 6px dashed blue;
}


#details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 400px;
    min-height: 520px;
    border-radius: 10px;
    border: 4px dashed rgb(27, 116, 53);
    box-shadow: 0 0 20px rgb(0, 0, 0);
    line-height: 27px;
    display: none;
    transition: all 1s;
}
.image-sec{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

#details img{
    margin-top: 20px;
    height: 190px;
    width: 190px;
}
.cross i{
    margin: 10px;
    padding: 5px 10px;
    border: 2px dashed rgb(255, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}
.para{
    margin: 10px;
    height: 50%;
}

.footer{
    margin-top: 80px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 1.2rem;
}
.footer span a{
    color: red;
    padding: 5px;
}


@media screen and (max-width: 1270px) {
    
    table{
        transform: scale(0.77);
    }
}

@media screen and (max-width: 1120px) {
    
    table{
        transform: scale(0.67);
    }
}

@media screen and (max-width: 992px) {
    
    table{
        transform: scale(0.58);
    }
    .cap{
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    
    table{
        margin-top: -150px;
        transform: scale(0.48);
    }
    #details{
        transform: scale(0.8);
    }
    .default{
        transform: rotate(90deg) scale(0.5);
        margin-top: 30px;
    }
  
}
@media screen and (max-width: 620px) {
    table{
        transform: scale(0.38);
    }
    #details{
        transform: scale(0.6);
    }
    .cap{
        width: 80%;
    }
    .landscape{
        display: block;
    }
    .footer{
        height: 80px;
        font-size: 1rem;
    }
    .footer span a{
        padding: 3px;
    }
}
@media screen and (max-width: 450px) {
    table{
        transform: scale(0.28);
    }
}

@media screen and (max-width: 380px) {
    table{
        transform: scale(0.25);
    }
}
